<a href="https://colab.research.google.com/github/datasaurs/datasaurs.github.io/blob/main/%D1%85%D0%B0%D0%BA%D0%B0%D1%82%D0%BE%D0%BD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Загужаем необходимые библиотеки

In [2]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import math

#РАБОТА АЛГОРИТМА

In [3]:
data =  pd.read_excel('test3.xlsx')

In [ ]:
data.head()

In [4]:
data.columns

Index(['fireid', 'date', 'temperature', 'speed_wind', 's', 's_coeff', 'lat',
       'lon', 'north', 'south', 'west', 'east', 'n-west', 'n-east', 's-west',
       's-east'],
      dtype='object')

In [6]:
x = data[['temperature', 'speed_wind']]
y = data['s']

In [7]:
lr = LinearRegression()

In [8]:
lr.fit(x, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
x = data[['speed_wind','north', 'south', 'west', 'east', 'n-west', 'n-east', 's-west','s-east']]
y_lat = data['lat']

In [10]:
y_lon = data['lon']

In [11]:
lr_lat = LinearRegression()

In [12]:
lr_lon = LinearRegression()

In [13]:
lr_lat.fit(x, y_lat)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
lr_lon.fit(x, y_lon)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

#ОБУЧЕНИЕ ЗАКОНЧИЛОСЬ

In [15]:
df_pred_c =  pd.read_excel('pred.xlsx')
df_real =  pd.read_excel('real_data.xlsx')
df_pred_p =  pd.read_excel('pred.xlsx')
fir = data.iloc[[0]]

In [22]:
sum =0
for i in range(2):
  df_pred = pd.DataFrame(df_pred_p.iloc[i][['temperature','speed_wind']]).T
  predict = lr.predict(df_pred)
  s_pred = predict[0]
  df_pred_coor = pd.DataFrame(df_pred_c.iloc[i][['speed_wind','north', 'south', 'west', 'east', 'n-west', 'n-east', 's-west','s-east']]).T
  predict_lat = lr_lat.predict(df_pred_coor)
  lat=predict_lat[0]
  predict_lon = lr_lon.predict(df_pred_coor)
  lon = predict_lon[0]
  d_real = pd.DataFrame(df_real.iloc[i][['s','lat', 'lon']]).T
  d_real.head()
  len=math.sqrt((abs(lon-d_real['lon']))**2 + (abs(lat-d_real['lat']))**2)
  s_and=math.sqrt(len/2)*math.sqrt(len/2)
  print(s_pred, d_real['s'])
  sum=sum+s_pred
  ioU=abs(s_and)/abs(sum + d_real['s']-s_and)
  print(ioU)
  #print(ioU * 100, "%")
  visual = [{
    "fireid":fir['fireid'],
    "date": i,
    "temperature":df_pred['temperature'],
    "speed_wind": df_pred_coor['speed_wind'],
    "s":s_pred,
    "lat":lat,
    "lon":lon,
    "north": df_pred_coor['north'],
    "south": df_pred_coor['south'], 
    "west": df_pred_coor['west'],
    "east": df_pred_coor['east'],
    "n-west": df_pred_coor['n-west'], 
    "n-east": df_pred_coor['n-east'], 
    "s-west": df_pred_coor['s-west'],
    "s-east": df_pred_coor['s-east'],
  }]
  visual = pd.DataFrame(visual)
  if i==0:
    visual.to_csv('visual.csv', sep=';', encoding='utf-8')
  else:
    visual.to_csv('visual.csv', sep=';', encoding='utf-8',mode='a', header=False)

19742.13479353443 0    7969.235328
Name: s, dtype: float64
0    9.021568e-08
Name: s, dtype: float64
17026.178357208584 1    26058.081777
Name: s, dtype: float64
1    8.897806e-08
Name: s, dtype: float64

In [23]:
vvv =  pd.read_csv('visual.csv', sep=';')
vvv

   Unnamed: 0  ...                                  s-east
0           0  ...  0    0.0\nName: s-east, dtype: float64
1           0  ...  1    0.0\nName: s-east, dtype: float64

[2 rows x 16 columns]